<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head><meta charset="UTF-8"/></head>
    <body>
        <div th:fragment="alert">
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong th:text="${success}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong th:text="${error}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        </div>
    </body>
</html>
